<html>
<head>
    <title>treatment</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<div class="row">
<div class="col-sm-3" style="background-color:yellow;margin-top:15%;margin-left:75%;border:5">
<h1><b>{{trials}}</b></h1>
</div>
<div class="col-sm-6" style="background-color:lavender;margin-left:20%">
<div style="margin-left:20%;margin-left:5%;"><p>Treatment Status:</p></div>
<body>
<form method = 'get'>
<br>
<select name = "treatment_status">
    <option name="first_relapse">first_relapse</option>
    <option name="multiple_relapse">multiple_relapse</option>
    <option name="Refractory">Refractory</option>
    <option name="Untreated">Untreated</option>
</select>
<input type="hidden" name="step" value={{step}}>
<input type="hidden" name="name" value={{disease}}>
<input type="submit" name="submit">

</form>
</body>
</html>
